---
http_interactions:
- request:
    method: get
    uri: https://www.cine.io/api/1/-/stream/recordings?id=53718cef450ff80200f81856&secretKey=MY%20SECRET
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"141729763"'
    body:
      encoding: US-ASCII
      string: ! '[{"name": "recordingName", "url": "recordingUrl", "date": "recording Date", "size": 12345}, {"name": "recordingName2", "url": "recordingUrl2", "date": "recording Date2", "size": 54321}]'
  recorded_at: Sun, 01 Jun 2014 23:00:30 GMT
recorded_with: VCR 2.3.0
