---
http_interactions:
- request:
    method: get
    uri: https://www.cine.io/api/1/-/project?secretKey=MY%20SECRET
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"-585713471"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"THE ID","publicKey":"MY PUBLIC","secretKey":"MY SECRET","name":"THE PROJECT", "streamsCount":0,"updatedAt":"2014-05-29T01:21:20.186Z"}'
  recorded_at: Sun, 01 Jun 2014 07:27:53 GMT
recorded_with: VCR 2.3.0
