---
http_interactions:
- request:
    method: get
    uri: https://www.cine.io/api/1/-/stream?id=53718cef450ff80200f81856&secretKey=MY%20SECRET
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"-21966437"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"53718cef450ff80200f81856","name":"cine1","play":{"hls":"http://hls.cine.io/cines/cine1/cine1.m3u8","rtmp":"rtmp://fml.cine.io/20C45E/cines/cine1?adbe-live-event=cine1"},"publish":{"url":"rtmp://stream.lax.cine.io/20C45E/cines","stream":"cine1?THEPASSWORD&amp;adbe-live-event=cine1"},"password":"THEPASSWORD","expiration":"2034-05-13T00:00:00.000Z","assignedAt":"2014-05-13T03:24:07.916Z"}'
  recorded_at: Sun, 01 Jun 2014 07:45:01 GMT
recorded_with: VCR 2.3.0
