---
http_interactions:
- request:
    method: put
    uri: https://www.cine.io/api/1/-/project
    body:
      encoding: US-ASCII
      string: secretKey=MY+SECRET&name=new+project+name
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"53868bd8a3f20d0800a4eb38","publicKey":"MY PUBLIC","secretKey":"MY SECRET","name":"new
        project name","streamsCount":2,"updatedAt":"2014-06-11T20:14:16.655Z"}'
  recorded_at: Wed, 11 Jun 2014 20:14:16 GMT
recorded_with: VCR 2.9.2
