---
http_interactions:
- request:
    method: get
    uri: https://www.cine.io/api/1/-/usage/stream?id=THE%20STREAM%20ID&month=2015-01-06T00:00:00Z&report%5B0%5D=bandwidth&report%5B1%5D=storage&secretKey=THE%20PROJECT%20SECRET%20KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"-585713471"'
    body:
      encoding: US-ASCII
      string: ! '{"id": "THE STREAM ID", "secretKey": "THE PROJECT SECRET KEY", "month": "2015-01-06T00:00:00.000Z", "bandwidth": 1073741824, "storage": 2147483648 }'
  recorded_at: Sun, 01 Jun 2014 07:27:53 GMT
recorded_with: VCR 2.3.0
